nav {
    display: block;    
    background: linear-gradient(rgb(247, 247, 247),rgb(226, 226, 226));
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.26);
    border-bottom: 1px solid #d6d6d6;
}
nav a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-family: Arial, sans-serif;
}
